html, body, #root {
  margin: 0;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

.header {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin: 60px;
}

.addWineForm {
  position: relative;
  margin: 5% 0;
  width: 50%;
  height: 70%;
  padding-bottom: 30px;
  display: none;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  border: solid 1px gray;
  border-radius: 20px;
  animation: addWineForm 2s;
}

@keyframes addWineForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.addWineForm input, button {
  width: 50%;
  border-radius: 20px;
  margin: 10px;
  height: 35px;
}

.addWineForm input {
  padding: 0 10px;
  border: solid 1px grey;
}

.addWineForm button[type="submit"] {
  width: 20%;
  background-color: #e2e2e2;
  border: none;
}

.cancelButton {
  width: 30px;
  height: 30px;
  justify-self: flex-end;
  align-self: flex-end;
  background-color: transparent;
  color: #550000;
  border: solid 1px grey;
}

.wineGrid {
  position: relative;
  width: 90%;
  height: auto;
  margin: 20px;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.showForm {
  position: relative;
  width: 20%;
  max-width: 20%;
  height: 250px;
  max-height: 250px;
  margin: .25%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(#ebebeb, #ececec);
}

.showForm button {
  width: 90%;
  height: 90%;
  background-color: transparent;
  border: none;
  font-size: 50px;
  color: #ffffff;
}

.card {
  position: relative;
  width: 20%;
  max-width: 20%;
  height: 250px;
  max-height: 250px;
  margin: .25%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  color: white;
  background:linear-gradient(#700000, #550000);
}

.card h1 {
  font-size: 35px;
  margin: 10px 0 5px 0;
}

.card h4 {
  font-size: 25px;
  margin: 5px 0 5px 0;
}

.card p {
  font-size: 20px;
  margin: 5px 0 10px 0;
}

.removeButton {
  position: absolute;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  width: 20px;
  height: 100%;
  background-color: transparent;
  border: none;
  margin: 10px 0;
  padding: 0;
  font-size: 20px;
  color: #ffffff9f;
}

.removeButton:hover {
  color: white;
}
