.main-header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100vw;
  background-color: white;
  z-index: 150;
}

.initial-setup-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial-setup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 300px;
  border-radius: 20px;
  background-color: white;
}

.settings-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 160;
  transition: .5s;
  box-shadow: 0 0 5px #afafaf;
}

.settings-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 200px;
}

.settings__button--confirm {
  width: 150px;
  height: 50px;
  margin-top: 40px;
  border-radius: 100px;
}
.settings-form__input  {
  width: 130px;
  height: 40px;
  padding: 0 10px;
}

.toggle-setting {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 40px;
  z-index: 190;
}

.search {
  position: absolute;
  width: 40%;
  margin-top: 20px;
  padding: 0 10px;
  max-width: 300px;
  left: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #a7a7a7;
}